.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.loginContainer {
  width: 40vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
}

.title {
  font-family: fantasy;
}

.input {
  width: 20vw;
  padding: 10px;
  border-radius: 13px;
  margin: 10px 0px;
  font-size: 10px;
}

.button {
  width: 5rem;
  background: #14a4eb;
  cursor: pointer;
  color: white;
  border: 0;
  height: 2rem;
  border-radius: 12px;
}

.error {
  color: red;
  margin: 0.5rem;
}

.link {
  margin-top: 1rem;
  width: 20vw;
}
